[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gym = "*"
pybullet = "*"
stable-baselines = {extras = ["mpi"],version = "*"}
tensorflow = "<2.0"
baselines = "*"

[requires]
python_version = "3.6"
